.calendar-body-container {
  /* We use a grid here so WeekLayout and EventLayout can inherit it's position */
  display: grid;
  /* Build container for maximum number of rows to avoid breaking out of the parent container and overlapping other content */
  grid-template-rows: repeat(minmax(5, 6), minmax(0, 1fr));
  position: relative;
}

.week-container {
  /* We use a grid here so WeekLayout and EventLayout can inherit it's position */
  display: grid;
  min-height: 4em; /* add a minimum to avoid the calendar from bunching up really small */
  position: relative;
}
