.calendo--default-back-button {
  border: none;
  background-color: transparent;
  color: var(--calendo-font-color);
  font-size: 2em;
  opacity: 50%;
}

.calendo--default-back-button:hover {
  opacity: 100%;
  cursor: pointer;
}
