.event {
  border-radius: 0.3em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  box-shadow: dimgray 0.1em 0.1em 0.2em;
  opacity: 80%;
  pointer-events: visible;

  > .event-text-container {
    padding-left: 1em;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    color: black; /* event text is always black*/
  }

  &:hover {
    cursor: pointer;
  }
}

.event-selected {
  opacity: 100%;
}
