.event {
  border-radius: 0.3em;
  padding-left: 1em;
  font-weight: bold;
  margin-left: 0.3em;
  margin-right: 0.3em;
  box-shadow: dimgray 0.1em 0.1em 0.2em;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--schedulely-font-color);
  font-size: medium;
  line-height: normal;
}

.event:hover {
  cursor: pointer;
}

.event-selected {
  opacity: 100%;
}

.event-unselected {
  opacity: 80%;
}
