.calendo--default-forward-button {
  border: none;
  background-color: transparent;
  font-size: 2em;
  opacity: 50%;
  color: var(--calendo-font-color);
}

.calendo--default-forward-button:hover {
  opacity: 100%;
  cursor: pointer;
}
