.calendo--week-layout {
  display: grid;
  grid-area: 1 / 1;
  grid-template-columns: repeat(7, 1fr);
}

.calendo--week-layout > div {
  border: 1px solid;
  border-color: var(--calendo-border-color);
  position: relative;
}

.calendo--additional-events {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 5px;
  cursor: pointer;
  z-index: 100;
  font-weight: bolder;
  opacity: 0.6;
}
