.schedulely--week-layout {
  display: grid;
  grid-area: 1 / 1;
  grid-template-columns: repeat(7, 1fr);
}

.schedulely--week-day-layout {
  display: grid;
  /* Hardcoded layout here could cause issues later */
  grid-template-rows: auto 6fr auto;
  height: 100%;
}

.schedulely--week-layout > div {
  border: 0.1em solid;
  border-color: var(--schedulely-border-color);
  position: relative;
}
