.week-layout {
  display: grid;
  grid-area: 1 / 1;
  grid-template-columns: repeat(7, 1fr);
}

.week-day-layout {
  display: grid;
  height: 100px;
}

.week-layout > div {
  border: var(--schedulely-border);
  position: relative;
}
