.schedulely--week-layout {
  display: grid;
  grid-area: 1 / 1;
  grid-template-columns: repeat(7, 1fr);
}

.schedulely--week-layout > div {
  border: 1px solid;
  border-color: var(--schedulely-border-color);
  position: relative;
}

.schedulely--week-layout-additional-events {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  z-index: 100;
}
