.calendo--week-layout {
  display: grid;
  grid-area: 1 / 1;
  grid-template-columns: repeat(7, 1fr);
}

.calendo--week-layout > div {
  border: 1px solid;
  border-color: var(--calendo-border-color);
  position: relative;
}
