.event-week-layout {
  display: grid;
  grid-area: 1 / 1;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  z-index: 1; /* TODO: Figure out what is making this necessary */
  gap: 0.2em; /* space between events */
  grid-auto-flow: dense;
  grid-auto-rows: 1fr;
  /* These hide event text that overflows */
  white-space: nowrap;
  overflow: hidden;
}
