.schedulely .header-button {
  border: none;
  background-color: transparent;
  color: var(--schedulely-font-color);
  font-size: 2em;
  opacity: 50%;
}

.schedulely .header-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.schedulely .header-layout {
  display: flex;
  gap: 0.5em;
  width: 100%;
}

.schedulely .header-banner {
  flex-grow: 2;
  text-align: center;
  color: var(--schedulely-font-color);
}

.schedulely .current-month-indicator {
  background-color: lightgreen;
  border-radius: 20px;
  height: 15px;
  width: 15px;
  margin-left: 0.5em;
  margin-top: 0.3em;
  display: inline-block;
  position: absolute;
}
