.header-layout {
  display: flex;
  container-type: inline-size;

  > .header-button {
    border: none;
    background-color: transparent;
    color: var(--schedulely-font-color);
    font-size: 2em;
    opacity: 50%;
    display: inline-block;

    &:hover {
      opacity: 100%;
      cursor: pointer;
    }
  }

  > .header-banner {
    flex-grow: 1;
    text-align: center;
    color: var(--schedulely-font-color);
    margin: auto;

    > .header-text {
      margin-top: auto;
      margin-bottom: auto;
      font-size: 1.3em;

      //small size
      @container (max-width: 640px) {
        font-size: 1.1em;
      }

      @container (min-width: 641px) and (max-width: 1024px) {
        font-size: 1.3em;
      }

      //large size
      @container (min-width: 1025px) {
        font-size: 1.5em;
      }
    }

    > .current-month-indicator {
      background-color: salmon;
      border-radius: 20px;
      height: 0.5em;
      width: 0.5em;
      margin-left: 0.5em;
      vertical-align: text-top;
      display: inline-block;
      margin-top: 0.2em;
    }
  }
}
