.default-day {
  height: 100%;
}

.default-day-current {
  background-color: var(--schedulely-currentMonthBgColor);
  color: var(--schedulely-font-color);
}

.default-day-sibling {
  background-color: var(--schedulely-sibling-month-bg-color);
  color: var(--schedulely-sibling-month-font-color);
}
