.calendo--default-day {
  height: var(--calendo-dayHeight);
  // border: 1px black solid;
}

.calendo--default-day-current {
  background-color: var(--calendo-currentMonthBgColor);
}

.calendo--default-day-sibling {
  background-color: var(--calendo-siblingMonthBgColor);
  color: dimgray;
}
