.schedulely[data-theme='dark'] {
  --schedulely-current-month-bg-color: rgb(112, 112, 112);
  --schedulely-sibling-month-bg-color: #2b2b2b;
  --schedulely-day-of-week-header-bg-color: white;
  --schedulely-day-of-week-header-text-color: black;
  --schedulely-font-color: white;
  --schedulely-border: 0.1em solid white;

}
