/* Default theme */
.calendo {
  gap: 0em;
  /* Custom font must be made available via link tag, etc. */
  font-family: 'Roboto', sans-serif;
  --calendo-current-month-bg-color: white;
  --calendo-font-color: black;
  --calendo-sibling-month-bg-color: #eff2f1;
  --calendo-grid-gap: 0em;
  --calendo-day-of-week-header-bg-color: black;
  --calendo-day-of-week-header-text-color: white;
  --calendo-day-height: 7em;
  --calendo-border-color: black;
}
