.calendo[data-theme='light'] {
  gap: 0em;
  /* Custom font must be made available via link tag, etc. */
  font-family: 'Roboto', sans-serif;
  --calendo-currentMonthBgColor: white;
  --calendo-font-color: black;
  --calendo-siblingMonthBgColor: #eff2f1;
  --calendo-gridGap: 0em;
  --calendo-dayOfWeekHeaderBgColor: black;
  --calendo-dayOfWeekTextHeaderTextColor: white;
  --calendo-dayHeight: 7em;
  --calendo-border-color: black;
}
