.schedulely[data-theme='minimal'] {
  --schedulely-sibling-month-bg-color: #f1f1f1;
  --schedulely-day-of-week-header-bg-color: white;
  --schedulely-day-of-week-header-text-color: black;
}

.schedulely[data-theme='minimal']
  > .schedulely--week-container
  > .schedulely--week-layout
  > div:first-child {
  border-left: none;
}

.schedulely[data-theme='minimal']
  > .schedulely--week-container
  > .schedulely--week-layout
  > div:last-child {
  border-right: none;
}

.schedulely[data-theme='minimal']
  > .schedulely--week-container
  > .schedulely--week-layout:last-child
  > div {
  border-bottom: none;
}

.schedulely[data-theme='minimal']
  > .schedulely--day-of-week-layout
  > div:first-child {
  border-left: none;
}

.schedulely[data-theme='minimal'] > .schedulely--day-of-week-layout > div:last-child {
  border-right: none;
}

.schedulely[data-theme='minimal'] > .schedulely--day-of-week-layout > div {
  border-top: none;
}
