&[data-theme='minimal'] {
  --schedulely-sibling-month-bg-color: #f1f1f1;
  --schedulely-day-of-week-header-bg-color: white;
  --schedulely-day-of-week-header-text-color: black;

  &[data-dark] {
    --schedulely-sibling-month-bg-color: #2b2b2b;
    --schedulely-day-of-week-header-bg-color: none;
    --schedulely-day-of-week-header-text-color: white;
  }

  > .day-of-week-layout > div {
    border-left: var(--schedulely-border);
    border-right: var(--schedulely-border);

    &:first-child {
      border-right: var(--schedulely-border);
    }

    &:last-child {
      border-left: var(--schedulely-border);
    }
  }

  > .week-container > .week-layout {
    > div {
      > .default-day > .week-day-layout > .default-day-header {
        text-align: right;

        > .default-day-header--indicator {
          margin: 1px;
          text-align: center;
        }

        > .default-day-header--text {
          font-weight: normal;
          margin: 5px;
        }
      }

      border-left: none;

      &:last-child {
        border-right: none;
      }
    }

    &:last-child > div {
      border-bottom: none;
    }
  }

  > .day-of-week-layout > div {
    border-left: none;

    &:last-child {
      border-left: none;
      border-right: none;
    }
  }
}
