.schedulely--default-day-header {
  text-align: center;
}

.schedulely--default-day-header--text {
  margin-top: 3px;
  font-weight: bold;
}

.schedulely--default-day-header--indicator {
  position: absolute;
  top: 0px;
  left: 3.9em;
  height: 22px;
  width: 22px;
  background-color: salmon;
  border-radius: 50%;
  display: inline-block;
}
