.schedulely--default-day-header {
  text-align: center;
  width: 100%;
  margin-top: 0.1em;
}

.schedulely--default-day-header--text {
  position: relative;
  top: 0.15em;
  font-weight: bold;
}

.schedulely--default-day-header--indicator {
  height: 1.5em;
  width: 1.5em;
  background-color: salmon;
  border-radius: 50%;
  display: inline-block;
}