.schedulely--default-day-header {
  margin: auto;
}

.schedulely--default-day-header--text {
  position: absolute;
  margin-top: 3px;
  font-weight: bold;
}

.schedulely--default-day-header--indicator {
  height: 25px;
  width: 25px;
  background-color: salmon;
  border-radius: 50%;
}
