.calendo--event {
  border-radius: 10px;
  padding-left: 1em;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: dimgray 2px 2px 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}

.calendo--event-selected {
  opacity: 100%;
}

.calendo--event-unselected {
  opacity: 80%;
}
