.schedulely--event {
  border-radius: 1em;
  padding-left: 1em;
  font-weight: bold;
  margin-left: 0.3em;
  margin-right: 0.3em;
  box-shadow: dimgray 0.1em 0.1em 0.2em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.schedulely--event:hover {
  cursor: pointer;
}

.schedulely--event-selected {
  opacity: 100%;
}

.schedulely--event-unselected {
  opacity: 80%;
}
