.schedulely--additional-events-indicator {
  opacity: 0.5;
  cursor: pointer;
  font-weight: bolder;
  color: var(--schedulely-font-color);
  text-align: center;
  width: fit-content;
  margin: auto;
}

.schedulely--additional-events-indicator:hover {
  opacity: 1;
}
