.schedulely--event-week-layout {
  display: grid;
  grid-area: 1 / 1;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  z-index: 100;
  gap: 0.3em; /* space between events */
  margin-top: 1.7em;
  white-space: nowrap;
  grid-auto-flow: dense;
}

.schedulely--event-week-layout > div:nth-child(n + 4) {
  display: none;
}
