@import './components/components.scss';
@import './layouts/layouts.scss';

.calendo {
  gap: 0em;
  /* Custom font must be made available via link tag, etc. */
  font-family: 'Roboto', sans-serif;
  --calendo-currentMonthBgColor: white;
  --calendo-font-color: black;
  --calendo-siblingMonthBgColor: #eff2f1;
  --calendo-gridGap: 0em;
  --calendo-dayOfWeekHeaderBgColor: black;
  --calendo-dayOfWeekTextHeaderTextColor: white;
  --calendo-dayHeight: 7em;
  --calendo-border-color: black;
}

.calendo[data-theme='dark'] {
  --calendo-currentMonthBgColor: rgb(112, 112, 112);
  --calendo-siblingMonthBgColor: #2b2b2b;
  --calendo-dayOfWeekHeaderBgColor: white;
  --calendo-dayOfWeekTextHeaderTextColor: black;
  --calendo-font-color: white;
  --calendo-border-color: white;
}
