.day-of-week-layout {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: var(--schedulely-day-of-week-header-bg-color);
  color: var(--schedulely-day-of-week-header-text-color);
}

.default-day-of-week {
  text-align: center;
}
